 <% include top.ejs %>
    <div class="page-title">
      <div class="title-env">
        <h1 class="title">[已结束任务]任务详细</h1>
		<p class="description">Detailed tasks [ongoing]</p>  
      </div>
      <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
          <li> <a href="/personnel"><i class="fa-home"></i>首页</a> </li>
		 <li> <a href="/personnel/create_list">已结束任务</a></li>	
		 <li class="active"> <strong>任务详细</strong> </li>	
        </ol>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel col-sm-12 panel-default panel_blue">
			<div class="col-sm-6 border_right">
			  <h3 class="row padding_b10"><%=plan[3][0].t_name%></h3>
			  <div class="row">
				<p class="col-sm-5 padding-left-0">项目名称：
				  <% for(var x =0;x<plan[2].length;x++){%>
					<%if(plan[3][0].p_number==plan[2][x].p_number){%>
						<%=plan[2][x].p_name%>
					<%}%>
				<% }%>
				  </p>
				<p class="col-sm-7">任务周期：
				  <%=new Date(parseInt(plan[3][0].wheel_s)).getFullYear()  %>/
				 <%=new Date(parseInt(plan[3][0].wheel_s)).getMonth()+1 %>/
				 <%=new Date(parseInt(plan[3][0].wheel_s)).getDate()+1  %>       
				  <%=(new Date(parseInt(plan[3][0].wheel_s)).getHours())<10?"0"+(new Date(parseInt(plan[3][0].wheel_s)).getHours()): new Date(parseInt(plan[3][0].wheel_s)).getHours() %>:
				 <%=(new Date(parseInt(plan[3][0].wheel_s)).getMinutes())<10?"0"+(new Date(parseInt(plan[3][0].wheel_s)).getMinutes()): new Date(parseInt(plan[3][0].wheel_s)).getMinutes() %> 
				 至
				 <%=new Date(parseInt(plan[3][0].wheel_e)).getFullYear()  %>/
				 <%=new Date(parseInt(plan[3][0].wheel_e)).getMonth()+1%>/
				 <%= new Date(parseInt(plan[3][0].wheel_e)).getDate()+1 %>
				  <%=(new Date(parseInt(plan[3][0].wheel_e)).getHours())<10?"0"+(new Date(parseInt(plan[3][0].wheel_e)).getHours()): new Date(parseInt(plan[3][0].wheel_e)).getHours() %>:
				 <%=(new Date(parseInt(plan[3][0].wheel_e)).getMinutes())<10?"0"+(new Date(parseInt(plan[3][0].wheel_e)).getMinutes()): new Date(parseInt(plan[3][0].wheel_e)).getMinutes() %> 
				 共<%=Math.floor((parseInt(plan[3][0].wheel_e)-parseInt(plan[3][0].wheel_s))/86400000*10)/10%> 天
				  </p>
			  </div>
			  <p class="row">[验证标准]路径:<%=plan[3][0].val_path.replace(/\//g, '\\')%></p>
			  <p class="row">任务内容:<%=plan[3][0].detailed%></p>
			</div>
			<div class="col-sm-2 border_right">
			  <h4 class="col-sm-12 padding_b10">任务状态</h4>
			  <p class="col-sm-12">剩余制作时间：<b><%=Math.floor((parseInt(plan[3][0].wheel_e)-parseInt(Date.parse(new Date())))/86400000*10)/10%></b>天</p>
			  <p class="col-sm-12">当前完成进度：<b><%=plan[3][0].t_plan %>%</b></p>
			  <p class="col-sm-12">当前制作状态：<%if( plan[3][0].state=="review"){%>待审核<%	}else {%>	进行中 <%}%></p>
			</div>
			<div class="col-sm-2 border_right">
			  <h4 class="col-sm-12 padding_b10">实际状态</h4>
			  <p class="col-sm-12">驳回次数：<b><%=plan[3][0].bh%></b>次</p>
			  <p class="col-sm-12">实际耗时：<b><%=plan[3][0].consuming%>H</b></p>
			  <p class="col-sm-12">推迟次数：<b><%=plan[3][0].tc%></b> 次</p>
			</div>
			<div class="col-sm-2">
			  <canvas id="chart-area_1"></canvas>
			</div>
	
      </div>
 	
 <% if(log_list_all.length!==0){%>			
 <%for(var i=0;i<log_list_all.length;i++){%>
	<div class="panel col-sm-12 panel-default">
			 <div class="panel-heading">
								<h3 class="panel-title"><%=log_list_all[i][0][0].time_title%></h3>
								<div class="panel-options">
									<a href="#" data-toggle="panel">
										<span class="collapse-icon">–</span>
										<span class="expand-icon">+</span>
									</a>
									<a href="#" data-toggle="remove">
										×
									</a>
								</div>
							</div>
			 <div class="panel-body">
				 <div class="panel-color panel-color-e1f7ff">
						<h5 class="margin_t15_b15 padding-left-15"><b>工作计划：</b></h5> 
						<p class="col-sm-12"><%=log_list_all[i][0][0].contant%></p>
						<div class="col-sm-12 padding-left-0  ">
						 <h5 class="col-sm-2">预计进度：<%=log_list_all[i][0][0].plan%>%</h5>
						 <h5 class="col-sm-2">预计用时：<%=log_list_all[i][0][0].time%>H</h5>
						 <h5 class="col-sm-2">状态：<%=log_list_all[i][0][0].state%></h5>
						 <h5 class="col-sm-3">制作标准存放路径：<%=log_list_all[i][0][0].val_path.replace(/\//g, '\\')%></h5>
						<h5 class="col-sm-3">主管留言：<%=log_list_all[i][0][0].msg%> </h5>	
						 </div>
					 </div>
				  <div class="panel-color panel-color-fffae1">
						 <h5 class="margin_t15_b15 padding-left-15"><b>开始制作时间：</b></h5> 
					    <% if(log_list_all[i][0][0].state_time!=="NaN/NaN/NaN NaN:NaN"){%>
							<p class="col-sm-12"><%=log_list_all[i][0][0].state_time%> </p>
					  <% }%>
					 </div>  
				 <% if(log_list_all[i][1]){%>			
				 <%for(var j=0;j<log_list_all[i][1].length;j++){%>
				 	<% if(log_list_all[i][1][j].tuichi=="false"){%>
					  <div class="panel-color panel-color-ffe1e1"> 
							<h5 class="margin_t15_b15 padding-left-15"><b>提交审核：</b></h5> 
							<p class="col-sm-12"><%=log_list_all[i][1][j].remark%></p> 
							<div class="col-sm-12">
							 <h5 class="col-sm-2 padding-left-0 ">进度：<%=log_list_all[i][1][j].plan%>%</h5>
							 <h5 class="col-sm-2">用时：<%=log_list_all[i][1][j].time%>H</h5>
							 <h5 class="col-sm-3">工作成果存放路径：<%=log_list_all[i][1][j].val_path.replace(/\//g, '\\')%></h5>
							 <h5 class="col-sm-3">审核提交时间：<%=log_list_all[i][1][j].date%></h5>
							 </div>	
						  <p class="col-sm-12 red_hr"></p>
						  <% if(log_list_all[i][1][j].state=="end"){%>
						  <div class="col-sm-12">
							 <h5 class="col-sm-12 "><b>审核通过：</b></h5> 
							 <p class="col-sm-12 "><%=log_list_all[i][1][j].message%></p>
							 <p class="col-sm-12  ">审核通过时间：<%=log_list_all[i][1][j].audit_time%></p>
							 </div>
						  <%}else{%>
						  <div class="col-sm-12">
							 <h5 class="col-sm-12 "><b>被驳回：</b></h5> 
							 <p class="col-sm-12 "><%=log_list_all[i][1][j].message%></p>
							 <p class="col-sm-12  ">驳回时间：<%=log_list_all[i][1][j].audit_time%></p>
							 </div>
						  <%}%>
						 </div>
				 	<%}else{%>
				 		<div class="panel-color panel-color-e9e1ff"> 
							<h5 class="margin_t15_b15 padding-left-15"><b>推迟审核：</b></h5> 
							<p class="col-sm-12"><%=log_list_all[i][1][j].remark%></p> 
							<div class="col-sm-12">
							 <h5 class="col-sm-2 padding-left-0 ">进度：<%=log_list_all[i][1][j].plan%>%</h5>
							 <h5 class="col-sm-2">用时：<%=log_list_all[i][1][j].time%>H</h5>
							 <h5 class="col-sm-3">工作成果存放路径：<%=log_list_all[i][1][j].val_path.replace(/\//g, '\\')%></h5>
							 <h5 class="col-sm-3">审核提交时间：<%=log_list_all[i][1][j].date%></h5>
							 </div>	
						  <p class="col-sm-12 red_hr"></p>
						  <% if(log_list_all[i][1][j].state=="end"){%>
						  <div class="col-sm-12">
							 <h5 class="col-sm-12 "><b>审核通过：</b></h5> 
							 <p class="col-sm-12 "><%=log_list_all[i][1][j].message%></p>
							 <p class="col-sm-12  ">审核通过时间：<%=log_list_all[i][1][j].audit_time%></p>
							 </div>
						  <%}else{%>
						  <div class="col-sm-12">
							 <h5 class="col-sm-12 "><b>被驳回：</b></h5> 
							 <p class="col-sm-12 "><%=log_list_all[i][1][j].message%></p>
							 <p class="col-sm-12  ">驳回时间：<%=log_list_all[i][1][j].audit_time%></p>
							 </div>
						  <%}%>
						 </div>
				    <%}%>
			    <%}%>	
				<%}%>
			 </div>	 
		  </div>	
		<%}%>	
	<%}%>
    </div>
    <!-- Main Footer --> 
    <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" --> 
    <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) --> 
    <!-- Or class "fixed" to  always fix the footer to the end of page -->
       <% include footer.ejs %>
  </div>
</div>

	
<!-- Imported styles on this page -->
<link rel="stylesheet" href="/www/assets/css/fonts/meteocons/css/meteocons.css">

<!-- Imported styles on this page -->
<link rel="stylesheet" href="/www/assets/js/daterangepicker/daterangepicker-bs3.css">
 

<style type="text/css">
div.datepicker{
	 z-index:3000!important;
	}
</style>

<!-- Bottom Scripts --> 
<script src="/www/assets/js/bootstrap.min.js"></script> 
<script src="/www/assets/js/TweenMax.min.js"></script> 
<script src="/www/assets/js/resizeable.js"></script> 
<script src="/www/assets/js/joinable.js"></script> 
<script src="/www/assets/js/xenon-api.js"></script> 
<script src="/www/assets/js/xenon-toggles.js"></script> 

<!-- Imported scripts on this page --> 
<script src="/www/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script> 
<script src="/www/assets/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js"></script> 
<script src="/www/assets/js/xenon-widgets.js"></script> 

 
<script src="/www/assets/js/datepicker/bootstrap-datepicker.js"></script> 
<script src="/www/assets/js/timepicker/bootstrap-timepicker.min.js"></script> 
 
 

<!-- chart --> 
<script src="/www/assets/js/chart/Chart.bundle.js"></script> 
<script src="/www/assets/js/chart/utils.js"></script> 
 <script type="text/javascript">
	 
			var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

		var config1 = {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [
						 <%=100-plan[3][0].t_plan%>,
					<%=plan[3][0].t_plan%>	
					],
					backgroundColor: [
						window.chartColors.red,
						window.chartColors.blue,
					],
					label: 'Dataset 1'
				}],
				labels: [
					'未完成',
					'完成',
				]
			},
			options: {
				responsive: true,
				legend: {
					position:'right',
					display: false,
				},
				title: {
					display: false,
					text: 'Chart.js Doughnut Chart'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		};
		 
	 		
		$(function($) {
  		 var ctx1 = document.getElementById('chart-area_1').getContext('2d');
			window.myDoughnut = new Chart(ctx1, config1);	
		});
	
		var colorNames = Object.keys(window.chartColors);
	</script>
<!-- JavaScripts initializations and stuff --> 
<script src="/www/assets/js/xenon-custom.js"></script>
</body>
</html>







