<% include top.ejs %>
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">项目列表</h1>
      <p class="description">Create task</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li> <a href="/personnel"><i class="fa-home"></i>首页</a> </li>
        <li class="active"> <strong>项目列表</strong> </li>
      </ol>
    </div>
  </div>
  <div class="panel panel-default">
				 
				<div class="panel-body">
					<table class="table table-bordered table-striped" id="example-2">
						<thead>
							<tr>
								<th class="no-sorting">
									 ID
								</th>
								<th>项目名称</th>
								<th>类型</th>
								<th>制作周期</th>
								<th>制作(天)</th>
								<th>(实际)制作周期</th>
								<th>尺寸</th>
								<th>状态</th>
								<th>总结</th>
								<th>查看</th>
							</tr>
						</thead>
						
						<tbody class="middle-align">
						 <% for(var i=0;i<project.length;i++){ %>
							<tr>
								<td><%=project[i].id%></td>
								<td><%=project[i].p_name%></td>
								<td><%=project[i].type%></td>
								<td><%=results[i].form%>  至  <%=results[i].to%> </td>
								<td><%=results[i].cycle%>天 </td>
								<td>12</td>
								<td><%=project[i].size%></td>
								<td><%=results[i].state%></td>
								<td>	
									<a href="/personnel/project/summary/?p_number=<%=project[i].p_number%>" class="btn btn-secondary btn-sm btn-icon icon-left">
										总结
									</a>
								</td>
								<td>	
									<a href="/personnel/project/project_detailed?p_number=<%=project[i].p_number%>" class="btn btn-info btn-sm btn-icon icon-left">
										查看
									</a>
								</td>
							</tr>
							<% } %>
							
						</tbody>
					</table>
					
				</div>
			</div>
  
  <!-- Main Footer --> 
  <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" --> 
  <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) --> 
  <!-- Or class "fixed" to  always fix the footer to the end of page -->
  <% include footer.ejs %>
  </div>
</div>
<div class="modal fade custom-width" id="modal-2">
  <div class="modal-dialog" style="width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">项目时间表</h4>
      </div>
      <div class="modal-body"> 时间表图片 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- Imported styles on this page -->
<link rel="stylesheet" href="/www/assets/js/daterangepicker/daterangepicker-bs3.css">
<link rel="stylesheet" href="/www/assets/js/select2/select2.css">
<link rel="stylesheet" href="/www/assets/js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="/www/assets/js/multiselect/css/multi-select.css">

<!-- Bottom Scripts --> 
<script src="/www/assets/js/bootstrap.min.js"></script> 
<script src="/www/assets/js/TweenMax.min.js"></script> 
<script src="/www/assets/js/resizeable.js"></script> 
<script src="/www/assets/js/joinable.js"></script> 
<script src="/www/assets/js/xenon-api.js"></script> 
<script src="/www/assets/js/xenon-toggles.js"></script> 
<script src="/www/assets/js/moment.min.js"></script> 

<!-- Imported scripts on this page --> 
<script src="/www/assets/js/daterangepicker/daterangepicker.js"></script> 
<script src="/www/assets/js/datepicker/bootstrap-datepicker.js"></script> 
<script src="/www/assets/js/timepicker/bootstrap-timepicker.min.js"></script> 
<script src="/www/assets/js/colorpicker/bootstrap-colorpicker.min.js"></script> 
<script src="/www/assets/js/select2/select2.min.js"></script> 
<script src="/www/assets/js/jquery-ui/jquery-ui.min.js"></script> 
<script src="/www/assets/js/selectboxit/jquery.selectBoxIt.min.js"></script> 
<script src="/www/assets/js/tagsinput/bootstrap-tagsinput.min.js"></script> 
<script src="/www/assets/js/typeahead.bundle.js"></script> 
<script src="/www/assets/js/handlebars.min.js"></script> 
<script src="/www/assets/js/multiselect/js/jquery.multi-select.js"></script> 

<!-- JavaScripts initializations and stuff --> 
<script src="/www/assets/js/xenon-custom.js"></script>
</body>
</html>

